apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
  namespace: {{ observability_namespace }}
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: {{ bucket }}
      endpoint: 'rook-ceph-rgw-ocs-external-storagecluster-cephobjectstore.openshift-storage.svc:8080'
      insecure: true
      access_key: {{ aws_access_key_id }}
      secret_key: {{ aws_secret_access_key }}